body {
	background-image: url('wood.jpg');
}

img {
	max-width: 300px;
	max-height: 300px;
	opacity: 1;
	display: block;
	margin: auto;
}

table.one {
	margin: 20px;
	border: dashed;
}

td {
	text-align: left;
}

.search {
	
}