body {
	background-image: url('wood.jpg');
}

ul.das {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.das {
    float: left;
}

li.das a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: brown;
}

ul.nav {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

li.nav a{
	display: block;
    text-align: left;
    padding: 7px;
    text-decoration: none;
}

img {
	max-width: 300px;
	max-height: 300px;
	opacity: 1;
	display: block;
	margin: auto;
}

table.one {
	margin: 20px;
	border: solid;
}